.Rproj.user
.Rhistory
.Rdata
.httr-oauth
.DS_Store
.quarto
rsconnect/
# {shinytest2}: Ignore new debug snapshots for `$expect_values()`
*_.new.png
.Renviron
cite.r
.vscode/tasks.json
*.pdf
.env
deployment/test/secrets.env
.gitignore
deployment/prod/secrets.env
